.inner {
    width: 50%;
}

.editor {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 16px;
}

.inner_child {
    max-height: 177px;
    overflow-y: auto;
    display: flex;
    flex-flow: column;
    gap: 16px;
}

.item {
    display: flex;
    align-items: center;
}

.order {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}