.modal_main{
    text-align: center;
}
.text_data_main{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.text_data{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap:8px;
}