.custom-scroll::-webkit-scrollbar {
  width: 8px !important;
}
.custom-scroll::-webkit-scrollbar-thumb {
  border: none !important;
  border-radius: 0px !important;
}
.constructor-element_pos_top{
  min-width: 488px !important;
}
.constructor-element_pos_bottom{
  min-width: 488px !important;
}