.header {
    /* interface/modal-bg */

    background: var(--background);
    /* card/x-large */

    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.inner {
    width: 1240px;
    height: 56px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between
}

.menu {
    display: flex;
}

.link {
    display: flex;
    color: var(--text-inactive-color);
    text-decoration: none;
}

.link_active {
    composes: link;
    color: var(--text-primary-color);
}

.link_personal {
    composes: link;
    margin-left: auto;
}

.logotype {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}